/* Reset some default styles */
body, h1, h2, ul, li {
    margin: 100;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    position:fixed;
    z-index:1;
    width:98%;
}

.menu {
    text-align: center;
}

.menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 20;
   
}

li {
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: #333;
}

.item-box {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 51px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
    width:350px;
    margin-left:550px;
   
}

.item-box:hover {
    transform: scale(1.05);
}

.item-box img {
    max-width: 100%;
    height: auto;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.item-content h3 {
    font-size: 20px;
    margin-top: 10px;
}

.item-content p {
    margin: 10px 0;
}

.order-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.order-button:hover {
    background-color: #ff4500;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap:20px
}

.cart-button {
    background-color: #391107;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #130500;
}






/* Reset some default styles */
body, h1, h2, ul, li, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    nav {
        margin-top: 20px; /* Add some space between the header and navigation on smaller screens */
    }

    nav ul {
        flex-direction: column; /* Stack navigation items vertically */
        align-items: center; /* Center-align navigation items */
    }

    nav li {
        margin-right: 0; /* Remove right margin for list items */
        margin-bottom: 10px; /* Add some space between navigation items */
    }
}

